@model List<CountryViewModel>
@{
    ViewBag.Title = "Danh Sách Quốc Gia";
}
<h3>@ViewBag.Title</h3>
<table class="table table-bordered table-hover mt-2" id="tbCountry">
    <thead>
        <tr class="bg-dark text-light">
            <th>#Id</th>
            <th>Tên Thể Loại Phim</th>
            <th>Hành Động</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var country in Model)
            {
                <tr>
                    <td>@country.CountryId</td>
                    <td>@country.CountryName</td>
                    <td>
                        <a asp-controller="Country" asp-action="Edit" asp-route-id="@country.CountryId" class="btn btn-warning btnn">Chỉnh Sửa</a>
                        <a href="javascript:void(0)" class="btn btn-danger btnn" onclick="country.delete(@country.CountryId)">Xóa</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@section Scripts{

    <script src="~/lib/bootbox.js/bootbox.min.js"></script>
    <script src="~/js/country.js" asp-append-version="true"></script>
}