@model EditMovieViewModel
@inject AppDbContext context
@{
    ViewBag.Title = "Chỉnh Sửa phim";
    var Categories = ViewBag.Categories as List<CategoryViewModel>;
    var Countries = ViewBag.Countries as List<CountryViewModel>;
}
<div class="container">
    <form enctype="multipart/form-data" asp-controller="Movie" asp-action="Edit" method="post" class="mt-2">
        <div asp-validation-summary="All"></div>
        <input hidden asp-for="MovieId" value="@Model.MovieId" />
        <input hidden asp-for="ImageOfVideo" value="@Model.ImageOfVideo" />
        <input hidden asp-for="View" value="@Model.View" />
        <input hidden asp-for="isFinish" value="@Model.isFinish" />
        <div class="row">
            <div class="col-sm-2 form-group">
                <label asp-for="MovieName"></label>
            </div>
            <div class="col-sm-10 form-group">
                <input type="text" asp-for="MovieName" class="form-control" />
                <span asp-validation-for="MovieName" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 form-group">
                <label asp-for="Content"></label>
            </div>
            <div class="col-sm-10 form-group">
                <textarea rows="3" asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 form-group">
                <label asp-for="CountryId"></label>
            </div>
            <div class="col-sm-4 form-group">
                <select class="form-control" asp-for="CountryId">
                    @foreach (var item in context.Countries)
                    {
                        <option value="@item.CountryId" selected="@(item.CountryId == Model.CountryId)">@item.CountryName</option>
                    }
                </select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2 form-group">
                <label asp-for="Time"></label>
            </div>
            <div class="col-10">
                <input class="form-control" type="date" asp-for="Time">
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 form-group">
                <label>Thể Loại</label>
            </div>
            <div class="col-sm-10 form-group">
                <select class="js-example-basic-multiple form-control" name="categories" multiple="multiple">
                    @if (Categories != null)
                    {
                        foreach (var category in Categories)
                        {
                            <option value="@category.CategoryId" selected="@(Model.categories.Where(c =>c == category.CategoryId).ToList().Count>0)">@category.categoryName</option>
                        }
                    }
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2 form-group">
                <label asp-for="Image"></label>
            </div>
            <div class="col-sm-10 form-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" asp-for="Image">
                    <label class="custom-file-label" for="customFile">Chọn tệp</label>
                    <img src="/images/@Model.ImageOfVideo" id="imgShow" alt=" Your Image" style="margin-top: 10px; height: 300px; width:auto" />
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 form-group">

            </div>
            <div class="col-sm-10 form-group" style="margin-top: 150px;">
                <button type="submit" class="btn btn-primary btnn">Cập Nhật</button>
                <a asp-controller="Movie" asp-action="Index" class="btn btn-warning btnn">Trở Lại</a>
            </div>
        </div>
    </form>
</div>

@section scripts{
    <script src="~/js/movie.js" asp-append-version="true"></script>
<script>
    let a = document.getElementById("MovieName").value;
    console.log(a);
</script>
}