@model List<CategoryViewModel>
@{
    ViewBag.Title = "Danh Sách Thể Loại Phim";
}
<h3>@ViewBag.Title</h3>
<table class="table table-bordered table-hover mt-2" id="tbCategory">
    <thead>
        <tr class="bg-dark text-light">
            <th>#Id</th>
            <th>Tên Thể Loại Phim</th>
            <th>Thao Tác</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var category in Model)
            {
                <tr>
                    <td>@category.CategoryId</td>
                    <td>@category.categoryName</td>
                    <td>
                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@category.CategoryId" class="btn btn-warning btnn">Chỉnh Sửa</a>
                        <a href="javascript:void(0)" class="btn btn-danger btnn" onclick="category.delete(@category.CategoryId)">Xóa</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@section Scripts{

    <script src="~/lib/bootbox.js/bootbox.min.js"></script>
    <script src="~/js/category.js" asp-append-version="true"></script>
}