@inject AppDbContext context
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/font-awesome.js/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/homepage.css" rel="stylesheet" />
    <link href="~/css/maipage.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow">
            <div class="container">
                <a class="navbar-brand logo" asp-controller="Home" asp-action="Index">TAnime</a>
                <div class="collapse navbar-collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav ">
                        <li class="input-group md-form form-sm form-2 pl-0">
                            <input class="form-control my-0 py-1 green-border" type="text" placeholder="Tìm kiếm....." aria-label="Search">
                            <div class="input-group-append">
                                <span class="input-group-text red lighten-3" id="basic-text1">
                                    <i class="fas fa-search text-grey"
                                       aria-hidden="true"></i>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-expand-md navbar-toggleable-sm navbar-light box-shadow" id="nav-menu">
            <div class="container" id="menu">
                <button class="navbar-toggler my-2" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon text-white"></span>
                </button>
                <div class="collapse navbar-collapse float-left">
                    <ul class="navbar-nav d-inline-flex text-white" id="menu-item">
                        <li><a asp-controller="Home" asp-action="Index">Trang Chủ</a></li>
                        <li>
                            Anime<i class="fa fa-caret-down ml-1"></i>
                            <ul class="sub-menu">
                                @foreach (var item in context.Categories)
                                {
                                    <li><a href="">@item.categoryName</a></li>

                                }
                            </ul>
                        </li>
                        <li><a href="">HH Trung Quốc</a></li>
                        <li><a href="">HH Nhật bản</a></li>
                        <li>
                            Trạng Thái<i class="fa fa-caret-down ml-1"></i>
                            <ul class="sub-menu">
                                <li><a href="">Hoàn Thành</a></li>
                                <li><a href="">Đang Tiến Hành</a></li>
                            </ul>
                        </li>
                        <li><a href="">Mới Cập Nhật</a></li>
                        <li><a href="">Xem Nhiều</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <div style="background: #213342;">
        <div class="container pb-4 pl-4" style="background: #212529">
            <div class="row">
                <div class="col-12 col-md-9" style="height:auto">
                    <main role="main">
                        @RenderBody()
                    </main>
                </div>
                <div class="col-12 col-md-3 mt-5" id="category">
                    <h4>Thể Loại</h4>
                    @foreach(var item in context.Categories)
                    {
                        <a href="#">@item.categoryName</a>
                    }
                </div>
            </div>
        </div>
    </div>

    <footer class="border-top" id="footer">
        <div class="container">
            <div class="text-white">
                <p class="mt-2">
                    <span class="logo">TAnime</span> - Trang web xem Anime miễn phí, không quảng cáo, cập nhật thường xuyên. Tổng hợp các bộ Anime từ Internet hoặc re-up lại của các Fansub.
                </p>
                <p>Liên hệ: tripro9x12@gmail.com</p>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/font-awesome.js/js/all.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
